## Importing Library's:

In [1]:
import pandas as pd
import numpy as np
import seaborn as sna
import matplotlib.pyplot as plt

##  Extracting Data from Data Source(SQL_Database):

In [2]:
import pandas as pd
import pyodbc

# Database connection parameters
server = 'OMKAR'
database = 'master'
username = 'admin'
password = '123456789'

# Create a connection string
conn_str = f'DRIVER=ODBC Driver 17 for SQL Server;SERVER={server};DATABASE={database};UID={username};PWD={password}'

# Create a database connection
conn = pyodbc.connect(conn_str)

# SQL query to fetch data (replace 'your_table' with the actual table name)
query = 'SELECT * FROM superstore_raw_data'

# Use Pandas to read data into a DataFrame
df = pd.read_sql(query, conn)

# Close the database connection
conn.close()

# Display the DataFrame
df.head()

C:\Users\DELL\AppData\Local\Temp\ipykernel_22112\2599352051.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

## Exporting Data into Bronze File:

In [3]:
df.to_parquet("C:\Data_Storage\Bronze\Superstore_raw_data.parquet",index=False)

## Preliminary Information Of Data:

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         65535 non-null  int64
 1   Order ID       65535 non-null  object
 2   Order Date     65535 non-null  datetime64[ns]
 3   Ship Date      65535 non-null  datetime64[ns]
 4   Ship Mode      65535 non-null  object
 5   Customer ID    65535 non-null  object
 6   Customer Name  65535 non-null  object
 7   Segment        65535 non-null  object
 8   Country        65535 non-null  object
 9   City           65535 non-null  object
 10  State          65535 non-null  object
 11  Postal Code    65478 non-null  float64
 12  Region         65535 non-null  object
 13  Product ID     65535 non-null  object
 14  Category       65535 non-null  object
 15  Sub-Category   65535 non-null  object
 16  Product Name   65535 non-null  object
 17  Sales          65535 non-null  float64
 18  Quantity       65535 non-null  int64
 19  Discount       65535 non-null  float64
 20  Profit         65535 non-null  float64
dtypes: datetime64[ns](2), float64(4), int64(2), object(13)
memory usage: 10.5+ MB

In [5]:
print(f'The table contains {df.shape[0]} rows and {df.shape[1]} columns.')

The table contains 65535 rows and 21 columns.

## Data Cleaning :

### 1. Treatment of Duplicate values :

In [6]:
print(f'The table contains {df.duplicated().sum()} duplicate rows')   ### table contains 55515 duplicate rows so, it remove from dataset.

The table contains 55515 duplicate rows

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
print(f'The table contains {df.duplicated().sum()} duplicate rows after treatment of duplicate values')

The table contains 0 duplicate rows after treatment of duplicate values

### 2. Treatment of Missing values :

In [9]:
print(f'The table contains {df.isna().sum().sum()} missing values')

The table contains 11 missing values

In [10]:
df.isna().sum()      ## "Postal Code" column contain 11 missing values, so, these values are replaced by mode.

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
Quantity          0
Discount          0
Profit            0
dtype: int64

In [11]:
df['Postal Code'].fillna(df['Postal Code'].mode(),inplace=True)

### Check data:

In [12]:
for i in df:
    print(df[i].value_counts())   ## Noice in data is not present

Row ID
3591    2
5760    2
9388    2
9387    2
8799    2
       ..
3337    1
3338    1
3339    1
3340    1
9994    1
Name: count, Length: 9994, dtype: int64
Order ID
CA-2017-100111    14
CA-2017-157987    12
CA-2016-165330    11
US-2016-108504    11
CA-2015-131338    10
                  ..
CA-2017-109778     1
CA-2017-148929     1
CA-2016-118332     1
CA-2016-133669     1
CA-2017-119914     1
Name: count, Length: 5009, dtype: int64
Order Date
2016-09-05    38
2017-09-02    36
2016-11-10    36
2017-12-02    34
2017-12-01    34
              ..
2016-02-25     1
2014-01-14     1
2016-10-25     1
2014-02-21     1
2014-01-21     1
Name: count, Length: 1237, dtype: int64
Ship Date
2015-12-16    35
2017-09-26    34
2017-11-21    32
2017-12-06    32
2017-09-06    30
              ..
2014-02-12     1
2014-03-28     1
2016-02-18     1
2017-03-19     1
2016-10-05     1
Name: count, Length: 1334, dtype: int64
Ship Mode
Standard Class    5989
Second Class      1948
First Class       1539
Same Day           544
Name: count, dtype: int64
Customer ID
WB-21850    37
MA-17560    34
JL-15835    34
PP-18955    34
JD-15895    32
            ..
LD-16855     1
AO-10810     1
CJ-11875     1
RE-19405     1
JR-15700     1
Name: count, Length: 793, dtype: int64
Customer Name
William Brown        37
Matt Abelman         34
John Lee             34
Paul Prost           34
Jonathan Doherty     32
                     ..
Lela Donovan          1
Anthony O'Donnell     1
Carl Jackson          1
Ricardo Emerson       1
Jocasta Rupert        1
Name: count, Length: 793, dtype: int64
Segment
Consumer       5205
Corporate      3028
Home Office    1787
Name: count, dtype: int64
Country
United States    10020
Name: count, dtype: int64
City
New York City      917
Los Angeles        748
Philadelphia       538
San Francisco      510
Seattle            428
                  ...
Missouri City        1
Rochester Hills      1
Palatine             1
La Quinta            1
Margate              1
Name: count, Length: 531, dtype: int64
State
California              2003
New York                1131
Texas                    987
Pennsylvania             588
Washington               506
Illinois                 493
Ohio                     470
Florida                  383
Michigan                 255
North Carolina           249
Arizona                  224
Virginia                 224
Georgia                  185
Tennessee                183
Colorado                 182
Indiana                  149
Kentucky                 140
Massachusetts            135
New Jersey               130
Oregon                   124
Wisconsin                110
Maryland                 105
Delaware                  96
Minnesota                 89
Connecticut               82
Oklahoma                  66
Missouri                  66
Alabama                   62
Arkansas                  61
Rhode Island              56
Utah                      53
Mississippi               53
Louisiana                 42
South Carolina            42
Nevada                    39
Nebraska                  39
New Mexico                37
Iowa                      30
New Hampshire             27
Kansas                    24
Vermont                   22
Idaho                     21
Montana                   15
South Dakota              12
District of Columbia      10
Maine                      8
North Dakota               7
West Virginia              4
Wyoming                    1
Name: count, dtype: int64
Postal Code
10035.0    263
10009.0    230
10024.0    230
94122.0    203
10011.0    194
          ...
27534.0      1
53186.0      1
32503.0      1
94509.0      1
63376.0      1
Name: count, Length: 631, dtype: int64
Region
West       3205
East       2864
Central    2327
South      1624
Name: count, dtype: int64
Product ID
OFF-PA-10001970    20
TEC-AC-10003832    18
OFF-ST-10001526    16
FUR-FU-10004270    16
TEC-AC-10003628    15
                   ..
TEC-PH-10003535     1
TEC-MA-10002937     1
OFF-AR-10004974     1
TEC-AC-10004814     1
OFF-ST-10001627     1
Name: count, Length: 1862, dtype: int64
Category
Office Supplies    6039
Furniture          2123
Technology         1858
Name: count, dtype: int64
Sub-Category
Binders        1523
Paper          1372
Furnishings     957
Phones          890
Storage         854
Art             797
Accessories     785
Chairs          618
Appliances      467
Labels          364
Tables          319
Envelopes       255
Bookcases       229
Fasteners       217
Supplies        190
Machines        115
Copiers          68
Name: count, dtype: int64
Product Name
Staple envelope                                        48
Staples                                                46
Easy-staple paper                                      46
Avery Non-Stick Binders                                20
Staples in misc. colors                                19
                                                       ..
Vtech AT&T CL2940 Corded Speakerphone, Black            1
Fellowes Smart Surge Ten-Outlet Protector, Platinum     1
Pyle PRT45 Retro Home Telephone                         1
Xerox 1901                                              1
Xerox 1922                                              1
Name: count, Length: 1853, dtype: int64
Sales
12.960     56
19.440     39
15.552     39
10.368     36
32.400     28
           ..
569.536     1
796.425     1
12.832      1
404.940     1
243.160     1
Name: count, Length: 6144, dtype: int64
Quantity
3     2413
2     2404
5     1234
4     1195
1      904
7      608
6      574
9      258
8      258
10      57
11      34
14      29
13      28
12      24
Name: count, dtype: int64
Discount
0.00    4819
0.20    3662
0.70     418
0.80     300
0.30     227
0.40     206
0.60     138
0.10      94
0.50      66
0.15      52
0.32      27
0.45      11
Name: count, dtype: int64
Profit
 0.0000     65
 6.2208     43
 9.3312     38
 5.4432     32
 3.6288     32
            ..
-8.5008      1
-12.7512     1
-22.6200     1
 5.4288      1
 72.9480     1
Name: count, Length: 7545, dtype: int64

##  Exporting Data into Silver File:

In [13]:
df.to_parquet("C:\Data_Storage\Silver\Superstore_cleaned_data.parquet",index=False)

## Data transformation:

####  Days to Ship: Calculating the number of days it took to ship each order.

In [14]:
df['Days to Ship'] = (df['Ship Date'] - df['Order Date']).dt.days

####  Revenue per Order

In [15]:
df['Revenue per Order'] = df['Sales'] / df['Quantity']

#### Discounted Amount

In [16]:
 df['Discounted Amount'] = df['Sales'] * df['Discount']

####  Profit Margin

In [17]:
df['Profit Margin'] = (df['Profit'] / df['Sales']) * 100

#### Seasonal Analysis

In [18]:
df['Month'] = df['Order Date'].dt.month
df['Year'] = df['Order Date'].dt.year

####  Customer Tenure:
Calculating the tenure of each customer by finding the difference between the first and last order dates for each customer.

In [19]:
df['Customer Tenure'] = (df.groupby('Customer ID')['Order Date'].transform('max') - df.groupby('Customer ID')['Order Date'].transform('min')).dt.days

####  Cumulative Sales and Profit:
Calculating the cumulative sales and profit over time to observe the overall trend.

In [20]:
df['Cumulative Sales'] = df.groupby('Order Date')['Sales'].transform('cumsum')
df['Cumulative Profit'] = df.groupby('Order Date')['Profit'].transform('cumsum')

######  Order Size Category:
Categorizing orders based on the quantity of products ordered (e.g., Small, Medium, Large).

In [21]:
df['Order Size Category'] = pd.cut(df['Quantity'], bins=[0, 5, 10, float('inf')], labels=['Small', 'Medium', 'Large'])

In [22]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Days to Ship,Revenue per Order,Discounted Amount,Profit Margin,Month,Year,Customer Tenure,Cumulative Sales,Cumulative Profit,Order Size Category
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,3,130.9800,0.000000,16.00,11,2016,469,261.9600,41.9136,Small
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,3,243.9800,0.000000,30.00,11,2016,469,993.9000,261.4956,Small
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,4,7.3100,0.000000,47.00,6,2016,547,14.6200,6.8714,Small
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,7,191.5155,430.909875,-40.00,10,2015,782,957.5775,-383.0310,Small
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,7,11.1840,4.473600,11.25,10,2015,782,979.9455,-380.5146,Small

## Preliminary Information of Data after Data Cleaning & Data Transformation :

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10020 entries, 0 to 19783
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Row ID               10020 non-null  int64
 1   Order ID             10020 non-null  object
 2   Order Date           10020 non-null  datetime64[ns]
 3   Ship Date            10020 non-null  datetime64[ns]
 4   Ship Mode            10020 non-null  object
 5   Customer ID          10020 non-null  object
 6   Customer Name        10020 non-null  object
 7   Segment              10020 non-null  object
 8   Country              10020 non-null  object
 9   City                 10020 non-null  object
 10  State                10020 non-null  object
 11  Postal Code          10009 non-null  float64
 12  Region               10020 non-null  object
 13  Product ID           10020 non-null  object
 14  Category             10020 non-null  object
 15  Sub-Category         10020 non-null  object
 16  Product Name         10020 non-null  object
 17  Sales                10020 non-null  float64
 18  Quantity             10020 non-null  int64
 19  Discount             10020 non-null  float64
 20  Profit               10020 non-null  float64
 21  Days to Ship         10020 non-null  int64
 22  Revenue per Order    10020 non-null  float64
 23  Discounted Amount    10020 non-null  float64
 24  Profit Margin        10020 non-null  float64
 25  Month                10020 non-null  int32
 26  Year                 10020 non-null  int32
 27  Customer Tenure      10020 non-null  int64
 28  Cumulative Sales     10020 non-null  float64
 29  Cumulative Profit    10020 non-null  float64
 30  Order Size Category  10020 non-null  category
dtypes: category(1), datetime64[ns](2), float64(9), int32(2), int64(4), object(13)
memory usage: 2.3+ MB

In [24]:
print(f'The table contains {df.shape[0]} rows and {df.shape[1]} columns.')

The table contains 10020 rows and 31 columns.

##  Exporting Data into Gold File:

In [25]:
df.to_parquet("C:\Data_Storage\Gold\Superstore_buziness_data.parquet",index=False)